$breakpoint_iphone: 415px;
$breakpoint_mobile: 321px;
$ibm_mono: 'IBM Plex Mono', monospace;
$ibm_plex: 'IBM Plex Sans', sans-serif;
$color_menu: #060A24;
$color_menu_bar: #0000EC;
$color_boton: #00F3BB;
$color_contenido: #FFFFFF;
$bg_right_contenido: #0000FF;
$bg_left_contenido: #0000A3;